<div class="card-group noselect" style="overflow-x: hidden;">
    <div class="col-4 align-items-stretch d-flex" *ngFor="let item of teamDetails">
      <div class="card col-md-12" >
        <img draggable="false" [src]="item.img"
             class="card-img-top" [alt]="item.name" height="270" width="150">        
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
          <p class="card-text">
            {{item.details}}
          </p>
        </div>
      </div>
    </div>   
</div> 